<%- if message == @message %>
  <%= render "form" %>
<%- else %>
  <div class="card mb-3" id="<%= dom_id(message) %>">
    <div class="card-body">
      <%= message.content %>

      <%- unless @message %>
        <div class="mt-2">
          <%= link_to "[edit]", edit_message_path(message) %>
          <%= link_to "[delete]", message, data: {remote: true, type: "json", method: "DELETE", confirm: "Are you sure?"} %>
        </div>
      <%- end %>
    </div>
  </div>
<%- end %>
